<div class="about-container">
 
<h2>About Markdown</h2>
 
<div class="flex-about">
 
<div class="about-text">
 
<p>
 Markdown是一种轻量级标记语言，旨在以简单易读的纯文本格式编写文档。它由约翰·格鲁伯（John Gruber）在2004年创建，主要目的是让文档的编写和阅读更加直观，同时能够转换为结构良好的HTML或其他格式。



 
</p>
 
<p>主要特点
简洁易读：Markdown使用常见的标点符号和字符来标记文本的不同部分，使其在纯文本格式下也能清晰易读。
易于学习和使用：与复杂的标记语言如HTML相比，Markdown的语法非常简单，几乎不需要学习成本。
广泛应用：Markdown被广泛应用于技术文档、博客、笔记、邮件等各种场景，许多平台和工具都支持Markdown。</p>
 
</div>
 
<div class="about-img">
 
<Image src='/assets/about.jpeg' class="profile-img" alt="Joe and animal relaxing and having fun" />
 
</div>
 
</div>
 
</div>