<div class="hero-container">
 
<img src='assets/profile.jpeg' class="profile-img" alt="Joe's personal headshot" />
 
<div class="hero-text">
 
<h1>Markdown知识库</h1>
 
<p>
 

 
</p>
 
<div class="social-icons">
 
<a href="https://twitter.com/">
 
<i class="fa-brands fa-twitter"></i>
 
</a>
 
<a href="https://github.com/wenrui19142">
 
<i class="fa-brands fa-github"></i>
 
</a>
 
<a href="https://www.linkedin.com/">
 
<i class="fa-brands fa-linkedin"></i>
 
</a>
 
</div>
 
</div>
 
</div>