<div class="nav-container">
 
<div class="logo">
 
<a href="/">
 
Wennrui.C
 
</a>
 
</div>
 
<div class="nav">
 
<a href="/projects" class="link">
 
文章
 
</a>
 
<a href="https://wenrui19142.github.io/" class="cta-btn">关于作者</a>
 
</div>
 
</div>