---
 
layout: layouts/base.njk
 
title: Home
 
---
{% include "components/hero.njk" %}
 
{% include "components/about.njk" %}
 
{% include "components/skills.njk" %}
 

                        
<h1></h1>